In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from datetime import datetime, timedelta
warnings.filterwarnings('ignore')

In [17]:
df_holidays = pd.read_csv('./DataSets/US Bank holidays.csv',  header=None, index_col=False)
df_holidays.drop([0], axis=1, inplace=True)
df_holidays.rename({1: 'Date', 2: 'Name'}, axis=1, inplace=True)

In [18]:
df_holidays.head(10)

         Date                                   Name
0  2012-01-02                           New Year Day
1  2012-01-16             Martin Luther King Jr. Day
2  2012-02-20  Presidents Day (Washingtons Birthday)
3  2012-05-28                           Memorial Day
4  2012-07-04                       Independence Day
5  2012-09-03                              Labor Day
6  2012-10-08                           Columbus Day
7  2012-11-12                           Veterans Day
8  2012-11-22                       Thanksgiving Day
9  2012-12-25                          Christmas Day

In [19]:
df_holidays.shape

(90, 2)