In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [7]:
city_data = pd.read_csv('./DataSets/Transaction_ID.csv')

In [10]:
city_data.head(10)

   Transaction ID  Customer ID Payment_Mode
0        10000011        29290         Card
1        10000012        27703         Card
2        10000013        28712         Cash
3        10000014        28020         Cash
4        10000015        27182         Card
5        10000016        27318         Cash
6        10000017        33788         Card
7        10000018        34106         Card
8        10000019        59799         Cash
9        10000020        57982         Cash